.colors__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-top: 48px;

  h3 {
    @include media-tablet {
      font-size: 38px;
    }

    @include media-mobile {
      font-size: 28px;
    }
  }
}

.doors {
  width: 68%;

  display: flex;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.doors_desc {
  width: 46%;
  @include media-tablet {
    width: 100%;
    &:first-child {
      margin-bottom: 20px;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}
