.gallery__content {
  background-color: black;
  padding-top: 48px;
  h3 {
    font-size: 48px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 38px;
    text-transform: uppercase;

    @include media-tablet {
      font-size: 38px;
    }

    @include media-mobile {
      font-size: 28px;
    }
  }
}

.gallery-wrapper {
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-template-areas:
    "one two three four"
    "five six seven eight";
  justify-items: center;
  grid-gap: 8px;

  @include media-tablet-l {
    grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight";
  }

  @include media-mobile {
    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
  }
}

.slide-1 {
  grid-area: one;
}
.slide-2 {
  grid-area: two;
}
.slide-3 {
  grid-area: three;
}
.slide-4 {
  grid-area: four;
}
.slide-15{
  grid-area: five;
}
.slide-6 {
  grid-area: six;
}
.slide-7 {
  grid-area: seven;
}
.slide-8 {
  grid-area: eight;
}

.slide {
  width: 100%;
  overflow: hidden;
  background: #000;

  img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 0.23s, opacity 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.03);
    }
  }
}
